<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="UTF-8">
  <title>инициализация</title>
</head>
<body>

введите данные пользователя для продолжения
<br/>

  <form th:method="POST" th:action="@{/session/sign-in}"  th:object="${existedCustomer}">
    <label for="customerName">имя</label>
    <input name="name" th:field="*{name}" id="customerName">
      <br/>
    <label for="customerSurname">фамилия</label>
    <input name="customerSurname" th:field="*{surname}" id="customerSurname">
      <br/>
    <label for="customerPassword">пароль</label>
    <input name="customerPassword" th:field="*{password}" id="customerPassword">
      <br/>

    <input type="submit" value="перейти на страницу данного пользователя">
</form>

</body>
</html>